#Esto es un archivo .gitignore
#Que ignora todos los archivos HTML
*.html
#Ignora todos los archivos CSS
*.css
#Ignora todos los archivos JS
*.js
#Ignora todos los archivos de imagen PNG
*.png
#Ignorar prueba5.dll
*prueba5.dll